/* Basic properties */

html {
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

body {
    background: #0099CC;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#joypad {
    display: none;
    width: 100vw;
    height: 100vh;
}

#calibration {
    display: none;
    position: fixed;
    z-index: 10;
    border-radius: 10px;
    padding: 3vh 3vw 3vh;
    filter: drop-shadow(0px 0px 5px black);
    background: #DDDDDD;
    width: 80vw;
    height: 74vh;
    top: 6vw;
    left: 7vw;
}

#force {
    position: absolute;
    background: #008000;
    width: 70vw;
    height: 11px;
    transform-origin: left;
}

#calibrationOk, #calibrationNo { width: 48%; padding: 4vh 0vh 4vh; }

#menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#menu > * {
    flex: 1 1 auto;
    background: #fff6;
    border-radius: 10px;
    margin: 3px;
    padding-top: 30vh;
    text-align: center;
    vertical-align: middle;
}

.dismiss {
    margin-top: 5vh;
    font-size: 80%;
}

#dbg {
    vertical-align: middle;
    overflow: hidden;
    background: #000;
    color: #0f0;
    font-family: monospace;
    word-wrap: break-word;
    z-index: 2;
}

div {
    background-size: 100% 100%;
}

.control { z-index: 2; }

/* Joysticks */
.joystick {
    background-image: url("img/joystick.svg");
    background-color: #33b5e5;
    border: 3px #0df solid;
}
.circle {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
}

/* Buttons */
.analogbutton, .button {
    z-index: 1;
    border-width: 1px;
    border-radius: 4px;
}
.analogbutton { background-color: #ccc; }
.button { background-color: #bbb; }
.analogbutton:not(.pressed), .button:not(.pressed) { border-style: outset; }
.pressed { filter: brightness(70%); border-style: inset; }
.buttonhitbox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    width: 1px;
    transform-origin: top left;
    opacity: 0;
}
#b1 { background-image: url('img/button.svg#b1'); background-color: #00c; border-color: #00c; }
#b2 { background-image: url('img/button.svg#b2'); background-color: #e00; border-color: #e00; }
#b3 { background-image: url('img/button.svg#b3'); background-color: #dd0; border-color: #dd0; }
#b4 { background-image: url('img/button.svg#b4'); background-color: #0c0; border-color: #0c0; }
#b5 { background-image: url('img/button.svg#b5'); background-color: #a0a; border-color: #a0a; }
#b6 { background-image: url('img/button.svg#b6'); background-color: #c70; border-color: #c70; }
#b7 { background-image: url('img/button.svg#b7'); }
#b8 { background-image: url('img/button.svg#b8'); }
#b9 { background-image: url('img/button.svg#b9'); }
#b10 { background-image: url('img/button.svg#b10'); }
#b11 { background-image: url('img/button.svg#b11'); }
#b12 { background-image: url('img/button.svg#b12'); }
#b13 { background-image: url('img/button.svg#b13'); }
#b14 { background-image: url('img/button.svg#b14'); }
#b15 { background-image: url('img/button.svg#b15'); }
#b16 { background-image: url('img/button.svg#b16'); }
#bg { background-image: url('img/button.svg#bg'); background-color: #444; }
#bs { background-image: url('img/button.svg#bs'); background-color: #444; }
#bm { background-image: url('img/button.svg#bm'); background-color: #444; }

/* D-pad */
.dpad { background-image: url('img/dp.svg'); }
.dpad.u   { background-image: url('img/dp.svg#u'); }
.dpad.ur  { background-image: url('img/dp.svg#ur'); }
.dpad.r   { background-image: url('img/dp.svg#r'); }
.dpad.dr  { background-image: url('img/dp.svg#dr'); }
.dpad.d   { background-image: url('img/dp.svg#d'); }
.dpad.dl  { background-image: url('img/dp.svg#dl'); }
.dpad.l   { background-image: url('img/dp.svg#l'); }
.dpad.ul  { background-image: url('img/dp.svg#ul'); }
.dpad.all { background-image: url('img/dp.svg#all'); }

/* Analog buttons */
#a1 { background-image: url('img/analog.svg#a1'); background-color: #66f; }
#a2 { background-image: url('img/analog.svg#a2'); background-color: #f33; }
#a3 { background-image: url('img/analog.svg#a3'); background-color: #ff2; }
#a4 { background-image: url('img/analog.svg#a4'); background-color: #2f2; }
#a5 { background-image: url('img/analog.svg#a5'); }
#a6 { background-image: url('img/analog.svg#a6'); }
#a7 { background-image: url('img/analog.svg#a7'); }
#a8 { background-image: url('img/analog.svg#a8'); }
#a9 { background-image: url('img/analog.svg#a9'); }
#a10 { background-image: url('img/analog.svg#a10'); }
#a11 { background-image: url('img/analog.svg#a11'); }
#a12 { background-image: url('img/analog.svg#a12'); }
#a13 { background-image: url('img/analog.svg#a13'); }
#a14 { background-image: url('img/analog.svg#a14'); }
#a15 { background-image: url('img/analog.svg#a15'); }
#a16 { background-image: url('img/analog.svg#a16'); }

/* Motion controls */
.motion { background-color: #ddd; }
.motiontrinket { width: 100%; height: 100%; background-image: url('img/motiontrinket.svg'); }

/* Pedals */
.pedal { background-color: #333; }

/* Knobs */
.knob { }
.knobcircle {
    position: absolute;
    border-radius: 100%;
    transform: rotate(0);
    background-color: #888;
}

.knobcircle > .circle {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

