/* Basic properties */

html {
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#joypad {
    display: none;
    width: 100vw;
    height: 100vh;
}

#warning, #calibration {
    display: none;
    position: fixed;
    z-index: 1;
    border-radius: 10px;
    padding: 3vh 3vw 3vh;
    filter: drop-shadow(0px 0px 5px black)
}

#warning {
    background: #F0B080;
    width: 64vw;
    height: 44vh;
    top: 25vh;
    left: 18vw;
}

#calibration {
    background: #B0B0B0;
    width: 80vw;
    height: 74vh;
    top: 6vw;
    left: 7vw;
}

#force {
    position: absolute;
    background: #008000;
    width: 70vw;
    height: 11px;
    transform-origin: left;
}

#calibrationOk, #calibrationNo { width: 48%; padding: 4vh 0vh 4vh; }

#menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#menu > * {
    flex: 1 1 auto;
    background: #cccccc;
    border-radius: 10px;
    margin: 3px;
    padding-top: 30vh;
    text-align: center;
    vertical-align: middle;
}

.dismiss {
    margin-top: 5vh;
    font-size: 80%;
}

.circle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0px;
    left: 0px;
}

.knobcircle {
    position: absolute;
    border-radius: 100%;
    transform: rotate(0);
}

.knobcircle > .circle {
    position: absolute;
    top: 50%;
    left: 90%;
}

#dbg {
    vertical-align: middle;
    overflow: hidden;
    background: #000;
    color: #0f0;
    font-family: monospace;
    word-wrap: break-word;
}
