/* Basic properties */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#joypad {
    display: grid;
    width: 100vw;
    height: 100vh;
}
#warning {
    display: none;
    position: fixed;
    width: 64vw;
    height: 44vh;
    top: 25vh;
    left: 15vw;
    z-index: 1;
    background: #F0B080;
    border-radius: 10px;
    padding: 3vh 3vw 3vh;
    filter: drop-shadow(0px 0px 5px black)
}
.dismiss {
    margin-top: 5vh;
    font-size: 80%;
}

.circle {
    position: absolute;
    transform: translate(-50%, -50%);
}
#dbg {
    word-wrap: break-word;
    overflow: hidden;
}
