/* Gamepad settings the user might want to change. */

#joypad {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
    /* The map below must match the number of rows and columns specified above: */
        "b5  b5  b5  b5  .   .   .   .   .   .   .   .   b6  b6  b6  b6  "
        ".   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   "
        ".   .   du  du  .   .   .    .  .   .   .   .   b4  b4  .   .   "
        ".   .   du  du  .   .   .   bg  bg  .   .   .   b4  b4  .   .   "
        "dl  dl  .   .   dr  dr  .   .   .   .   b3  b3  .   .   b2  b2  "
        "dl  dl  .   .   dr  dr  .   bs  bs  .   b3  b3  .   .   b2  b2  "
        ".   .   dd  dd  .   .   .   .   .   .   .   .   b1  b1  .   .   "
        ".   .   dd  dd  .   .   .   .   .   .   .   .   b1  b1  .   .   "
        "dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg "
        ;
        /* Possible values:
         * j1, j2, j3... for joystick (returns to center when released);
         * s1, s2, s3... for joystick (stays in place when released);
         * m_ for motion detector, where _ is one of these letters:
              * x for acceleration in the X-axis (left to right),
              * y for acceleration in the Y-axis (bottom to top),
              * z for acceleration in the Z-axis (back to front),
              * a for α (alpha) angle -- rotation around the Z-axis,
              * b for β (beta) angle -- rotation around the X-axis,
              * g for γ (gamma) angle -- rotation around the Y-axis;
         * pa, pb, pt for pedals (accelerator, brake, throttle);
         * k1, k2... for knobs;
         * b_ for buttons, where _ is:
              * s for START button,
              * g for SELECT button,
              * m for the branded button (HOME or equivalent),
              * 1, 2, 3, 4, 5, 6, 7, 8, 9, 10... for the rest.
         * a_ for analog button/trigger, where _ is a number;
         * d_ for D-pad, where _ is one of these letters:
              * u, for the key UP,
              * d, for the key DOWN,
              * l, for the key LEFT,
              * r, for the key RIGHT;
         * dbg for debug messages;
         * a period for empty space. */
}
