/* Default settings for the joypad.
 Please do not change this file. Make a copy called user.css and change that. */

#joypad {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
    /* The map below must match the number of rows and columns specified above: */
        ".   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   "
        ".   .   .   .   .   .   .   .   .   .   .   .   b4  b4  .   .   "
        ".   j1  j1  j1  .   .   .   .   .   .   .   .   b4  b4  .   .   "
        ".   j1  j1  j1  .   .   .   .   .   .   b3  b3  .   .   b2  b2  "
        ".   j1  j1  j1  .   .   .   .   .   .   b3  b3  .   .   b2  b2  "
        ".   .   .   .   .   .   j2  j2  j2  .   .   .   b1  b1  .   .   "
        ".   .   .   .   .   .   j2  j2  j2  .   .   .   b1  b1  .   .   "
        ".   .   .   .   .   .   j2  j2  j2  .   .   .   .   .   .   .   "
        "dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg dbg "
        ;
        /* Possible values:
         * j1, j2, j3... for joystick;
         * m1 for motion detector (acceleration and rotation, EXPERIMENTAL);
         * p1, p2... for pedals;
         * b1 to b32 for buttons;
         * dbg for debug messages;
         * a period for empty space.
         More to come */
}

.control {
    background-color: #bbb;
}

.circle {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#j1 {
    /* Uncomment the line below if you don't want the joystick to return to center when let go */
    /* animation-name: locking; */
}
#j2 {
    /* Uncomment the line below if you don't want the joystick to return to center when let go */
    animation-name: locking;
}

#p1 {background-color: #444444;}
#p2 {background-color: #444444;}

#m1 {background-color: #dddddd;}

#b1 {background-color: #2222ee;}
#b2 {background-color: #ee0000;}
#b3 {background-color: #dddd00;}
#b4 {background-color: #00dd00;}
